
<header>
    
        <ul>

            <li><a [routerLink] ="['/search']">צור קשר </a></li>
            <li><a href ="Home">איך זה עובד </a></li>
            <li><a [routerLink] ="['/find-me']" class="find-meBtn" style="border:1px solid; border-color:hotpink">מצא לי זר</a></li>
            <li><a href ="Home">הפרחים שלנו </a></li>
            <li><a [routerLink] ="['/home']">בית </a></li>
         
        
        </ul>

            <img class="img" src="../../assets/images/MainLogo.png" style="width: 240px;">
    
</header>
<div class="login-partial">
    <app-login></app-login>
</div>

<div class="main">

</div>

