*{
 
  font-family: Arial, Helvetica, sans-serif;


}

.footer-container{
  background-color: #F7F8F8;
  height: 200px;
  padding: 4rem 0 4rem 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.footer{
  width: 50%;
  height: fit-content;
  background-color: #F7F8F8;
  display: flex;
  flex-wrap:wrap;
  margin: 0 auto;
  text-align: right;
}

.footer-heading{
  display: flex;
  flex-direction: column;
  margin-right: 20rem;

}
.footer-heading h2{
  margin-bottom: 2rem;
}
.footer-heading a{
  color: black;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.footer-heading a:hover{
  color: red;
  transition: 0.3s ease-out;
}
.footer-logo-from {
  margin-bottom: 2rem;
}

@media screen and (max-width: 820px){
  .footer-container{
    padding-top: 2rem;
    position: fixed;
    width: 50%;
  }
  
}
@media screen and (max-width: 1150px){
  .footer{
    height: 50vh;
  }

}
@media screen and (max-width: 720px){
  .footer-3{
    display: none;
  }
  


}