<div class="footer-container">
  <div class="footer">
    <div class="footer-heading footer-2">
      <h2>שירותים</h2>
      <a [routerLink] ="['/find-me']">מצא לי זר</a>
      <a href="#">הזמנה חדשה </a>
      <a href="#">הרשמה לאתר</a>
      <a href="#">הצטרף כספק</a>
    </div>
    <div class="footer-heading footer-3">
      <h2>רשתות חברתיות</h2>
      <a href="#">אינסטגרם</a>
      <a href="#">פייסבוק</a>
    </div>
    <div class="footer-heading footer-1">
      <h2>קצת עלינו</h2>
      <a href="#">בלוג</a>
      <a href="#">איך זה עובד</a>
      <a [routerLink] ="['/about-us']">מי אנחנו?</a>
      <a href="#">הפרחים שלנו</a>
    </div>
    

    <div class="footer-logo-form">
      <h5>Logo here</h5>
    </div>
  </div>
</div>