input{
    text-align: right;
    font-size: large;
}
.error{
    text-align: center;
    color: red;
  }

  :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container{
    padding: 43px;

  }