
<main>
  <div class='background'>
    <video class='background-video' autoplay loop>
      <source src="../../../assets/flowerShop.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container">
      <h2> אני מחפש לבד </h2>
      <p> כל המגוון שלנו מחכה בשבילכם בקטלוג </p>
      <button [routerLink] ="['/catalog']" class="button" mat-raised-button color="accent">קח אותי לקטלוג </button>
  </div>
  <hr />
  <div class="container">
    <h2> תמצאו לי אתם </h2>
    <p>  תן לנו למצוא לך את הזר המושלם לאירוע ולמצב רוח שלך</p>
    <button [routerLink] ="['/find-me']" class="button" mat-raised-button color="accent">מצא לי זר</button>
  </div>
  <div class="container">
    <h2> תספרו לי על הצוות </h2>
    <p>?רוצה ללמוד עוד קצת עלינו</p>
    <button button [routerLink] ="['/about-us']" class="button" mat-raised-button color="accent">מי אנחנו</button>
  </div>
</main>
