
<body>
    <div class="first-container">
        <h1>הדרך החדשה שלכם לשמח את הקרובים אליכם, לעצב את הבית או סתם לפנק את עצמכם</h1>
        <p>שירות הפרחים היעיל , המהיר והמהנה ביותר. התחילו בקלות כאן </p>
        <button [routerLink] ="['/find-me']" class="firstBtn" mat-raised-button color="accent">מצא לי זר</button>
    </div>
    <hr>
   <div class="second-container">
<p>  וכל זה עבור סוגים שונים של אירועים</p>
<br>
<img src="../../../assets/images/Event1.png" style="width: 50%;border-radius: 15px;">
<br>
<br>
<h1>כל המגוון שלנו מחכה לכם בקטלוג</h1>
<button [routerLink] ="['/catalog']" class="firstBtn" mat-raised-button color="accent">קטלוג</button>

</div>
<div class="first-container">
<h1>?רוצים ללמוד עוד קצת עלינו</h1>
<p>הכנסו לעמוד הבא, למדו על הצוות וצרו איתנו קשר עוד היום </p>
<button [routerLink] ="['/about-us']" class="firstBtn" mat-raised-button color="accent">צור קשר</button>
</div>
</body>