
<body>
    <div class="first-container">
        <h1>הדרך החדשה שלכם לשמח את הקרובים אליכם, לעצב את הבית או סתם לפנק את עצמכם</h1>
        <p>שירות הפרחים היעיל , המהיר והמהנה ביותר. התחילו בקלות כאן </p>
        <button [routerLink] ="['/find-me']" class="firstBtn" mat-raised-button color="accent">מצא לי זר</button>
    </div>
    <hr>
   <div class="second-container">
<p>  וכל זה עבור סוגים שונים של אירועים, הנה כמה מהם</p>
<br>
<div class="row">
    <div class="column">
      <div class="card">
          <img src="../../../assets/images/partyPicture.jpg" style="height:200px; width:200px;">
          <p>מסיבות ואירועים</p>
          <h2> זרים בסגנון משמח ומרים מצב רוח</h2>
          <p> <button [routerLink] ="['/find-me']" class="firstBtn"  mat-raised-button color="accent">תראו לי עוד</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../assets/images/calmPicture.jpg" style="height:200px;width:200px;">
        <p> רגועים לבית</p>
        <h2> זרים בסגנון פשוט </h2>
        <p> <button [routerLink] ="['/find-me']" class="firstBtn"  mat-raised-button color="accent">תראו לי עוד</button></p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../assets/images/romanticPicture.png" style="height:200px;width:200px;">
        <p>רומנטיקה</p>
        <h2> בשביל לשמח את האשה</h2>

        <p> <button [routerLink] ="['/find-me']" class="firstBtn"  mat-raised-button color="accent">תראו לי עוד</button></p>
      </div>
    </div>
  
  </div>
  

   </div>
   <div class="first-container">
    <h1>?רוצים ללמוד עוד קצת עלינו</h1>
    <p>הכנסו לעמוד הבא, למדו על הצוות וצרו איתנו קשר עוד היום </p>
    <button [routerLink] ="['/about-us']" class="firstBtn" mat-raised-button color="accent">צור קשר</button>
</div>
   
</body>