<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
  body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body>

  <div class="w3-content" style="max-width:1400px; text-align: center;">

<header class="w3-container "> 
  <h1><b>?מי אנחנו</b></h1>
  <p>דבר ראשון, ברוך הבא לאתר שלנו, ואנחנו שמחים שאתם כאן</p>
</header>

  <div class="row">

  <div class="w3-col l4">
    <div class="w3-card w3-margin w3-margin-top">
    <img src="../../../assets/images/vision.jpg" style="width:100%">
      <div class="w3-container w3-white">
        <h2><b>החזון</b></h2>
        <p>התחיל בתור פרויקט, והמשיך בתור רעיון להתקדמות אמיתית בתחום</p>
      </div>
    </div><hr>
    
    <div class="w3-card w3-margin">
      <div class="w3-container w3-padding">
        <h1>חברי הצוות</h1>
      </div>
      <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
          <img src="../../../assets/images/profilePicture1.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px; border-radius: 15px;">
          <span class="w3-large">גיא נודלמן</span><br>
          <span>Guy.nudelman@aol.com</span>
        </li>
        <li class="w3-padding-16">
          <img src="../../../assets/images/ProfilePic2.jpeg" alt="Image" class="w3-left w3-margin-right" style="width:50px;border-radius: 15px;">
          <span class="w3-large">איריס קלע</span><br>
          <span>iriskella1@gmail.com</span>
        </li> 
        <li class="w3-padding-16">
          <img src="../../../assets/images/ProfilePic3.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px;border-radius: 15px;">
          <span class="w3-large">אמנון אשכנזי</span><br>
          <span>Amnon3234@gmail.com</span>
        </li>   
        
      </ul>
    </div>
    <hr>     
  </div>

  <div class="w3-col l8 s12">
  <div class="w3-card-4 w3-margin w3-white">
    <img src="../../../assets/images/aboutPicture1.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>הסבר על המערכת</b></h3>
    </div>

    <div class="w3-container">
      <p>בעזרת המערכת שלנו תוכלו לשמור על הבית שלכם מעוצב באווירה של טבע</p>
 
    </div>
  </div>
  </div>
  </div><br>
  </div>
</body>
</html>